In [35]:
# importing pandas library and aliasing
import pandas as pd

In [36]:
# read downloaded csv
sahie = pd.read_csv('small area health insurance estimates.csv', skiprows = 79)

C:\Users\Main\AppData\Local\Temp\ipykernel_5000\1947135070.py:2: DtypeWarning: Columns (9,10,11,12,13,14,15,16,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  sahie = pd.read_csv('small area health insurance estimates.csv', skiprows = 79)

In [37]:
sahie.head()

,year,version,statefips,countyfips,geocat,agecat,racecat,sexcat,iprcat,NIPR,...,pctui_moe,PCTIC,pctic_moe,PCTELIG,pctelig_moe,PCTLIIC,pctliic_moe,state_name,county_name,Unnamed: 25
0,2019,,1,0,40,0,0,0,0,3946002,...,0.3,88.4,0.3,11.6,0.3,88.4,0.3,Alabama ...,,NaN
1,2019,,1,0,40,0,0,0,1,1409975,...,0.6,81.1,0.6,6.8,0.2,29.0,0.4,Alabama ...,,NaN
2,2019,,1,0,40,0,0,0,2,1749910,...,0.6,82.0,0.6,8.0,0.3,36.3,0.4,Alabama ...,,NaN
3,2019,,1,0,40,0,0,0,3,942752,...,0.8,80.1,0.8,4.8,0.2,19.1,0.3,Alabama ...,,NaN
4,2019,,1,0,40,0,0,0,4,2634493,...,0.4,84.9,0.4,10.1,0.3,56.7,0.4,Alabama ...,,NaN

In [38]:
sahie.columns

Index(['year', 'version', 'statefips', 'countyfips', 'geocat', 'agecat',
       'racecat', 'sexcat', 'iprcat', 'NIPR', 'nipr_moe', 'NUI', 'nui_moe',
       'NIC', 'nic_moe', 'PCTUI', 'pctui_moe', 'PCTIC', 'pctic_moe', 'PCTELIG',
       'pctelig_moe', 'PCTLIIC', 'pctliic_moe', 'state_name', 'county_name',
       'Unnamed: 25'],
      dtype='object')

In [39]:
sahie.nunique()

year               1
version            1
statefips         51
countyfips       325
geocat             2
agecat             6
racecat            4
sexcat             3
iprcat             6
NIPR           75745
nipr_moe       13099
NUI            36297
nui_moe        11866
NIC            70679
nic_moe        14548
PCTUI           1156
pctui_moe        279
PCTIC           1156
pctic_moe        279
PCTELIG          785
pctelig_moe      155
PCTLIIC         1934
pctliic_moe      164
state_name        51
county_name     1878
Unnamed: 25        0
dtype: int64

In [40]:
# dropping columns for relevancy, margin of error columns
sahie.drop(inplace=True, columns=['year','version','Unnamed: 25','nipr_moe','nui_moe','nic_moe','pctui_moe','pctic_moe','pctelig_moe','pctliic_moe'])

In [41]:
sahie.head().style

In [42]:
sahie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320298 entries, 0 to 320297
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   statefips    320298 non-null  int64
 1   countyfips   320298 non-null  int64
 2   geocat       320298 non-null  int64
 3   agecat       320298 non-null  int64
 4   racecat      320298 non-null  int64
 5   sexcat       320298 non-null  int64
 6   iprcat       320298 non-null  int64
 7   NIPR         320298 non-null  object
 8   NUI          320298 non-null  object
 9   NIC          320298 non-null  object
 10  PCTUI        320298 non-null  object
 11  PCTIC        320298 non-null  object
 12  PCTELIG      320298 non-null  object
 13  PCTLIIC      320298 non-null  object
 14  state_name   320298 non-null  object
 15  county_name  320298 non-null  object
dtypes: int64(7), object(9)
memory usage: 28.1+ MB

In [43]:
sahie.describe()

,statefips,countyfips,geocat,agecat,racecat,sexcat,iprcat
count,320298.000000,320298.000000,320298.000000,320298.000000,320298.000000,320298.000000,320298.000000
mean,30.203192,97.536969,49.417230,2.307663,0.085982,0.940187,2.500000
std,15.176790,107.281993,2.342668,1.721966,0.439583,0.826456,1.707828
min,1.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000
25%,18.000000,27.000000,50.000000,1.000000,0.000000,0.000000,1.000000
50%,29.000000,73.000000,50.000000,2.000000,0.000000,1.000000,2.500000
75%,45.000000,129.000000,50.000000,3.000000,0.000000,2.000000,4.000000
max,56.000000,840.000000,50.000000,5.000000,3.000000,2.000000,5.000000

In [44]:
sahie['state_name'].unique()

array(['Alabama                                                               ',
       'Alaska                                                                ',
       'Arizona                                                               ',
       'Arkansas                                                              ',
       'California                                                            ',
       'Colorado                                                              ',
       'Connecticut                                                           ',
       'Delaware                                                              ',
       'District of Columbia                                                  ',
       'Florida                                                               ',
       'Georgia                                                               ',
       'Hawaii                                                                ',
       'Idaho                                                                 ',
       'Illinois                                                              ',
       'Indiana                                                               ',
       'Iowa                                                                  ',
       'Kansas                                                                ',
       'Kentucky                                                              ',
       'Louisiana                                                             ',
       'Maine                                                                 ',
       'Maryland                                                              ',
       'Massachusetts                                                         ',
       'Michigan                                                              ',
       'Minnesota                                                             ',
       'Mississippi                                                           ',
       'Missouri                                                              ',
       'Montana                                                               ',
       'Nebraska                                                              ',
       'Nevada                                                                ',
       'New Hampshire                                                         ',
       'New Jersey                                                            ',
       'New Mexico                                                            ',
       'New York                                                              ',
       'North Carolina                                                        ',
       'North Dakota                                                          ',
       'Ohio                                                                  ',
       'Oklahoma                                                              ',
       'Oregon                                                                ',
       'Pennsylvania                                                          ',
       'Rhode Island                                                          ',
       'South Carolina                                                        ',
       'South Dakota                                                          ',
       'Tennessee                                                             ',
       'Texas                                                                 ',
       'Utah                                                                  ',
       'Vermont                                                               ',
       'Virginia                                                              ',
       'Washington                                                            ',
       'West Virginia                                                         ',
       'Wisconsin                                                             ',
       'Wyoming                                                               '],
      dtype=object)

In [45]:
sahie['state_name'] = sahie['state_name'].str.strip()
sahie['county_name'] = sahie['county_name'].str.strip()
sahie[
    (sahie['state_name'] == 'California') &
    (sahie['county_name'] == 'Orange County')
    ]

,statefips,countyfips,geocat,agecat,racecat,sexcat,iprcat,NIPR,NUI,NIC,PCTUI,PCTIC,PCTELIG,PCTLIIC,state_name,county_name
22470,6,59,50,0,0,0,0,2670793,235378,2435415,8.8,91.2,8.8,91.2,California,Orange County
22471,6,59,50,0,0,0,1,623004,91875,531129,14.7,85.3,3.4,19.9,California,Orange County
22472,6,59,50,0,0,0,2,813871,119183,694688,14.6,85.4,4.5,26.0,California,Orange County
22473,6,59,50,0,0,0,3,375679,52259,323420,13.9,86.1,2.0,12.1,California,Orange County
22474,6,59,50,0,0,0,4,1317402,176144,1141258,13.4,86.6,6.6,42.7,California,Orange County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22561,6,59,50,5,0,2,1,199460,35296,164164,17.7,82.3,3.7,17.4,California,Orange County
22562,6,59,50,5,0,2,2,261208,45124,216084,17.3,82.7,4.8,22.9,California,Orange County
22563,6,59,50,5,0,2,3,120680,20797,99883,17.2,82.8,2.2,10.6,California,Orange County
22564,6,59,50,5,0,2,4,438581,66616,371965,15.2,84.8,7.1,39.4,California,Orange County
22565,6,59,50,5,0,2,5,317901,45819,272082,14.4,85.6,4.9,28.8,California,Orange County

In [46]:
# kalawao county is documented to have invalid/null data
sahie[
    (sahie['county_name'] == 'Kalawao County')
    ]

,statefips,countyfips,geocat,agecat,racecat,sexcat,iprcat,NIPR,NUI,NIC,PCTUI,PCTIC,PCTELIG,PCTLIIC,state_name,county_name
57000,15,5,50,0,0,0,0,.,.,.,.,.,.,.,Hawaii,Kalawao County
57001,15,5,50,0,0,0,1,.,.,.,.,.,.,.,Hawaii,Kalawao County
57002,15,5,50,0,0,0,2,.,.,.,.,.,.,.,Hawaii,Kalawao County
57003,15,5,50,0,0,0,3,.,.,.,.,.,.,.,Hawaii,Kalawao County
57004,15,5,50,0,0,0,4,.,.,.,.,.,.,.,Hawaii,Kalawao County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57091,15,5,50,5,0,2,1,.,.,.,.,.,.,.,Hawaii,Kalawao County
57092,15,5,50,5,0,2,2,.,.,.,.,.,.,.,Hawaii,Kalawao County
57093,15,5,50,5,0,2,3,.,.,.,.,.,.,.,Hawaii,Kalawao County
57094,15,5,50,5,0,2,4,.,.,.,.,.,.,.,Hawaii,Kalawao County
57095,15,5,50,5,0,2,5,.,.,.,.,.,.,.,Hawaii,Kalawao County

In [47]:
sahie = sahie[
    (sahie['county_name'] != 'Kalawao County')
    ]

In [48]:
sahie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 320202 entries, 0 to 320297
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   statefips    320202 non-null  int64
 1   countyfips   320202 non-null  int64
 2   geocat       320202 non-null  int64
 3   agecat       320202 non-null  int64
 4   racecat      320202 non-null  int64
 5   sexcat       320202 non-null  int64
 6   iprcat       320202 non-null  int64
 7   NIPR         320202 non-null  object
 8   NUI          320202 non-null  object
 9   NIC          320202 non-null  object
 10  PCTUI        320202 non-null  object
 11  PCTIC        320202 non-null  object
 12  PCTELIG      320202 non-null  object
 13  PCTLIIC      320202 non-null  object
 14  state_name   320202 non-null  object
 15  county_name  320202 non-null  object
dtypes: int64(7), object(9)
memory usage: 30.5+ MB

In [50]:
sahie = sahie.astype({
    'NIPR':'float',
    'NUI':'float',
    'NIC':'float',
    'PCTUI':'float',
    'PCTIC':'float',
    'PCTELIG':'float',
    'PCTLIIC':'float'
})
sahie.describe()

,statefips,countyfips,geocat,agecat,racecat,sexcat,iprcat,NIPR,NUI,NIC,PCTUI,PCTIC,PCTELIG,PCTLIIC
count,320202.000000,320202.000000,320202.000000,320202.000000,320202.000000,320202.000000,320202.000000,3.202020e+05,3.202020e+05,3.202020e+05,320202.000000,320202.000000,320202.000000,320202.000000
mean,30.207750,97.564712,49.417055,2.307662,0.086008,0.940188,2.500000,4.148848e+04,6.516118e+03,3.497237e+04,17.051872,82.948128,7.635226,41.306333
std,15.176782,107.286106,2.342998,1.721966,0.439646,0.826456,1.707828,2.901008e+05,5.079994e+04,2.468478e+05,8.696471,8.696471,5.033024,25.092483
min,1.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000e+00,1.000000e+00,0.000000,31.400000,0.000000,1.100000
25%,18.000000,27.000000,50.000000,1.000000,0.000000,0.000000,1.000000,1.135000e+03,1.650000e+02,9.280000e+02,10.600000,78.200000,4.000000,22.200000
50%,29.000000,73.000000,50.000000,2.000000,0.000000,1.000000,2.500000,3.374000e+03,5.010000e+02,2.794000e+03,15.200000,84.800000,6.400000,35.300000
75%,45.000000,129.000000,50.000000,3.000000,0.000000,2.000000,4.000000,1.124900e+04,1.689000e+03,9.422000e+03,21.800000,89.400000,10.000000,53.200000
max,56.000000,840.000000,50.000000,5.000000,3.000000,2.000000,5.000000,3.300162e+07,5.114881e+06,3.005366e+07,68.600000,100.000000,48.800000,100.000000